@model List<Sentence>

<p class="h1">You are on the manage/index page!</p>

@* <table calss="table table-bordered table-hover">
    <thead>
        <tr>
            <th>id</th>
            <th>Sentence</th>
            <th>Translation</th>
            <th>Word</th>
            <th>Word Traslate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sentence in Model)
        {
            <tr>
                <td>@sentence.SentenceId</td>
                <td>@sentence.Phrase</td>
                <td>@sentence.Translation</td>
                <td>@sentence.Answer</td>
                <td>@sentence.AnswerTranslation</td>
            </tr>
        }
    </tbody>
</table> *@